:root {
    --bg-gray-800: rgb(31 41 55);
    --bg-gray-900: rgb(17 24 39);
    --bg-slate-50: rgb(248 250 252);
    --bg-slate-100: rgb(241 245 249);
    --bg-slate-200: rgb(226 232 240);
    --bg-gray-300: rgb(209 213 219);
    --bg-gray-700: rgb(55 65 81);
    --bg-gray-500: rgb(107 114 128);

    --steel-gray-50: rgb(246 246 249);
    --steel-gray-100: rgb(235 235 243);
    --steel-gray-200: rgb(211 212 228);
    --steel-gray-300: rgb(173 175 204);
    --steel-gray-400: rgb(128 132 176);
    --steel-gray-500: rgb(96 101 151);
    --steel-gray-600: rgb(76 79 125);
    --steel-gray-700: rgb(62 64 102);
    --steel-gray-800: rgb(54 56 86);
    --steel-gray-900: rgb(49 50 73);
    --steel-gray-950: rgb(30 30 45);
}

@import "~@flaticon/flaticon-uicons/css/all/all";

@import url('/node_modules/rc-switch/assets/index.css');
@import url('/node_modules/rc-dialog/assets/index.css');
@import url('/node_modules/rc-drawer/assets/index.css');
@import url('/node_modules/rc-picker/assets/index.css');
@import url('/node_modules/rc-input-number/assets/index.css');
@import url('/node_modules/rc-pagination/assets/index.css');
@import url('/node_modules/rc-tooltip/assets/bootstrap.css');
@import url('/node_modules/rc-table/assets/index.css');

@import url('/node_modules/simplebar-react/dist/simplebar.min.css');
@import url('/node_modules/ez-rc-popup/dist/index.css');
@import url('/node_modules/react-toastify/dist/ReactToastify.css');

@import url('/node_modules/nprogress/nprogress.css');

@import url('rc-select.css');
@import url('rc-dropdown.css');
@import url('rc-menu.css');
@import url('rc-dialog.css');
@import url('rc-table.css');
@import url('rc-input-number.css');
@import url('rc-date-picker.css');
@import url('drawer-motion.css');
@import url('gradient-bg.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-strip-color {
    background: linear-gradient(45deg, #ff4ab3 8%, #7ff 24%, #fcd246 46%, #9ffe00 75%, #417efd 93%);
}

.logo-bg {
    background: linear-gradient(45deg, #ff4ab3 8%, #7ff 24%, #fcd246 46%, #9ffe00 75%, #417efd 93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.bg-dots {
    background: linear-gradient(90deg, #fff 21px, transparent 1%) center, linear-gradient(#fff 21px, transparent 1%) center, vrar(--bg-gray-800);
    background-size: 22px 22px;
}

.dark .bg-dots {
    background: linear-gradient(90deg, var(--bg-gray-900) 21px, transparent 1%) center, linear-gradient(var(--bg-gray-900) 21px, transparent 1%) center, var( --bg-gray-500);
    background-size: 22px 22px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: inherit !important;
    -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
    -webkit-text-fill-color: #fff !important;
    -webkit-box-shadow: 0 0 0 30px #313249 inset !important;
}

.team-item {
    background-image: url("../assets/images/team-bg.svg");
    background-repeat: no-repeat;
    background-position: right -10px top -10px;
    background-size: 60px;
}

.dark .team-item {
    background-image: url("../assets/images/team-dark-bg.svg");
}

.fi {
    display: inline-flex;
    align-items: center;
}

.text-shadow-gray {
    text-shadow: 2px 3px 0px #898999;
}

.box-shadow-none {
    box-shadow: none !important;
}

hr {
    background-image: url("../assets/images/hr.svg");
    border: none;
    height: 4px;
    margin: auto;
    width: 75%;
}

.public-DraftEditorPlaceholder-root {
    position: absolute;
    font-weight: normal;
}

.public-DraftEditorPlaceholder-inner {
    color: #334155;
}

.dark .public-DraftEditorPlaceholder-inner {
    color: #94a3b8;
}

.rc-switch {
    background-color: rgb(226 232 240);
}

.dark .rc-switch {
    background: transparent;
}

.rc-switch-checked {
    background-color: rgb(29 78 216);
    border-color: rgb(29 78 216);
}

.dark .rc-switch-checked {
    background-color: rgb(29 78 216);
    border-color: rgb(29 78 216);
}

.rc-switch:focus {
    box-shadow: none;
}

.simplebar-scrollbar:before {
    left: 3px;
}

.form-resizable-table .simplebar-scrollbar:before {
    border-radius: 0;
}

.form-resizable-table .simplebar-scrollbar {
    height: 9px;
}

.text-shadow-none {
    text-shadow: none;
}

.Toastify__toast-icon {}

/** rc-pagination **/
.rc-pagination .rc-pagination-item {
    border: none;
    line-height: 28px;
    width: 28px;
    height: 28px;
    border-radius: 5px;
    background-color: var(--gray-steel-800);
}

.dark .rc-pagination .rc-pagination-item {
    background-color: var(--gray-steel-900);
}

.rc-pagination .rc-pagination-item:hover {
    border: none;
    line-height: 28px;
    width: 28px;
    height: 28px;
}

.dark .rc-pagination .rc-pagination-item:hover {
    background-color: var(--gray-steel-800);
}

.rc-pagination .rc-pagination-item-active,
.rc-pagination .rc-pagination-item-active:hover {
    background-color: rgb(29 78 216);
}

.rc-pagination .rc-pagination-item-active a,
.rc-pagination .rc-pagination-item-active:hover a {
    color: #fff;
}

.dark .rc-pagination .rc-pagination-item-active,
.dark .rc-pagination .rc-pagination-item-active:hover {
    background-color: rgb(29 78 216);
}

.dark .rc-pagination .rc-pagination-item a {
    color: #fff;
}

.dark .rc-pagination-jump-prev button,
.dark .rc-pagination-jump-next button {
    color: #fff;
}

.rc-pagination-prev .fi,
.rc-pagination-next .fi {
    text-align: center;
    line-height: 28px;
    height: 28px;
}

.dark .rc-pagination-prev .fi,
.dark .rc-pagination-next .fi {
    color: #fff;
}

.rc-pagination-disabled .fi {
    color: #94a3b8;
}

.dark .rc-pagination-disabled .fi {
    color: #4b5563;
}

.html-block section {
    margin-top: 12px;
    margin-bottom: 12px;
}

#nprogress .spinner {
    top: 24px;
    right: 40px;
}

.cursor::after {
    display: block;
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #fff;
    animation: cursor 0.6s linear infinite alternate;
    will-change: opacity;
}

@keyframes cursor {

    0%,
    40% {
        opacity: 1;
    }

    60%,
    100% {
        opacity: 0;
    }
}

.rc-tooltip-placement-right,
.rc-tooltip-placement-rightTop,
.rc-tooltip-placement-rightBottom {
    padding: 0 5px 0 5px;
}

.rc-tooltip-placement-bottom,
.rc-tooltip-placement-bottomLeft,
.rc-tooltip-placement-bottomRight {
    padding: 5px 0 5px 0;
}

.rc-tooltip-placement-left,
.rc-tooltip-placement-leftTop,
.rc-tooltip-placement-leftBottom {
    padding: 0 5px 0 5px;
}

.selection-area {
    background: rgba(46, 115, 252, 0.11);
    border-radius: 0.1em;
}