@import "~@flaticon/flaticon-uicons/css/all/all";

@import url('/node_modules/rc-switch/assets/index.css');
@import url('/node_modules/rc-dialog/assets/index.css');
@import url('/node_modules/rc-drawer/assets/index.css');
@import url('/node_modules/rc-picker/assets/index.css');
@import url('/node_modules/rc-input-number/assets/index.css');
@import url('/node_modules/rc-pagination/assets/index.css');
@import url('/node_modules/rc-tooltip/assets/bootstrap.css');
@import url('/node_modules/rc-table/assets/index.css');

@import url('/node_modules/simplebar-react/dist/simplebar.min.css');
@import url('/node_modules/ez-rc-popup/dist/index.css');
@import url('/node_modules/react-toastify/dist/ReactToastify.css');

@import url('/node_modules/nprogress/nprogress.css');

@import url('rc-select.css');
@import url('rc-dropdown.css');
@import url('rc-menu.css');
@import url('drawer-motion.css');
@import url('gradient-bg.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-strip-color {
    background: linear-gradient(45deg, #ff4ab3 8%, #7ff 24%, #fcd246 46%, #9ffe00 75%, #417efd 93%);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 50px #1E1E2D inset !important;
    -webkit-text-fill-color: white !important;
}

.team-item {
    background-image: url("../assets/images/team-bg.svg");
    background-repeat: no-repeat;
    background-position: right -10px top -10px;
    background-size: 60px;
}
.dark .team-item {
    background-image: url("../assets/images/team-dark-bg.svg");
}

.fi {
    display: inline-flex;
    align-items: center;
}

.text-shadow-gray {
    text-shadow: 2px 3px 0px #898999;
}

.box-shadow-none {
    box-shadow: none!important;
}

hr {
    background-image: url("../assets/images/hr.svg");
    border: none;
    height: 4px;
    margin: auto;
    width: 75%;
}

.public-DraftEditorPlaceholder-root {
    position: absolute;
    font-weight: normal;
}

.public-DraftEditorPlaceholder-inner {
    color: #334155;
}

.dark .public-DraftEditorPlaceholder-inner {
    color: #94a3b8;
}

.rc-switch {
    background-color: rgb(226 232 240);
}

.dark .rc-switch {
    background: transparent;
}

.rc-switch-checked {
    background-color: rgb(29 78 216);
    border-color: rgb(29 78 216);
}

.dark .rc-switch-checked {
    background-color: rgb(29 78 216);
    border-color: rgb(29 78 216);
}

.rc-switch:focus {
    box-shadow: none;
}

.simplebar-scrollbar:before {
    left: 3px;
}

.form-resizable-table .simplebar-scrollbar:before {
    border-radius: 0;
}

.form-resizable-table .simplebar-scrollbar {
    height: 9px;
}

.text-shadow-none {
    text-shadow: none;
}

.rc-dialog {
    margin: auto;
}

.rc-dialog-close {
    right: 15px;
}

.rc-dialog-header {
    background: transparent;
    border-bottom: transparent;
    color: inherit;
}

.rc-dialog-fade-enter,
.rc-dialog-fade-appear,
.rc-dialog-zoom-enter {
    animation-duration: 0.2s;
}

.rc-dialog-fade-leave,
.rc-dialog-zoom-leave,
.rc-dialog-zoom-appear {
    animation-duration: 0.2s;
}

.Toastify__toast-icon {}

.rc-picker-input {
    display: flex;
    align-items: center;
}

.rc-picker-input>input {
    outline: none;
    border: none;
    background: transparent;
}

.rc-picker-input>input::placeholder {
    color: rgb(100 116 139);
}

.dark .rc-picker-input>input::placeholder {
    color: #6b7280;
}

.rc-picker-suffix {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.rc-picker-clear {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: rgb(203 213 225);
    right: -3px;
    width: 20px;
    height: 20px;
}

.dark .rc-picker-clear {
    background: #2B2B40;
}

.rc-picker-range .rc-picker-clear {
    transform: translateY(-50%) translateX(-50%);
    right: 3px;
}

.rc-picker-panel {
    background: transparent;
    border: none;
    border-radius: 5px;
}

.rc-picker-header {
    padding: 10px 10px;
}

.rc-picker-body {
    padding: 10px 10px;
    border-top: 1px solid rgba(15, 23, 42, 0.1);
}

.dark .rc-picker-body {
    border-top: 1px solid #2B2B40;
}

.rc-picker-date-panel .rc-picker-cell-inner {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 4px;
    font-size: 14px;
}

.rc-picker-cell {
    color: rgb(100 116 139);
}

.dark .rc-picker-cell {
    color: #6b7280;
}

.rc-picker-cell-in-view {
    color: rgb(15 23 42);
}

.dark .rc-picker-cell-in-view {
    color: #fff;
}

.rc-picker-cell-inner:hover {
    background-color: #2B2B40;
    color: white;
}

.dark .rc-picker-cell-inner:hover {
    background-color: #2B2B40;
}

.rc-picker-cell-selected .rc-picker-cell-inner {
    background-color: #2563eb;
    color: white;
}

.rc-picker-cell-today>.rc-picker-cell-inner {
    border-color: #1d4ed8;
}

.rc-picker-content thead th {
    font-size: 13px;
    font-weight: normal;
    height: 26px;
}

.rc-picker-header-view {
    display: flex;
    justify-content: center;
    gap: 7px;

}

.rc-picker-time-panel .rc-picker-content {
    max-height: 263px;
}

.rc-picker-time-panel-column>li .rc-picker-time-panel-cell-inner {
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 22px;
}

.rc-picker-time-panel-column>li .rc-picker-time-panel-cell-inner:hover {
    background-color: #2B2B40;
    color: white;
}

.dark .rc-picker-time-panel-column>li .rc-picker-time-panel-cell-inner:hover {
    background-color: #2B2B40;
}

.rc-picker-time-panel .rc-picker-content {
    border-top: 1px solid rgba(15, 23, 42, 0.1);
}

.dark .rc-picker-time-panel .rc-picker-content {
    border-top: 1px solid #2B2B40;
}

.rc-picker-time-panel-column {
    border-right: 1px solid rgba(15, 23, 42, 0.1);
    width: 60px;
}

.dark .rc-picker-time-panel-column {
    border-right: 1px solid #2B2B40;
}

.rc-picker-time-panel-column:last-child {
    border-right: none;
}

.rc-picker-datetime-panel .rc-picker-time-panel {
    border-left: 1px solid rgba(15, 23, 42, 0.1);
}

.dark .rc-picker-datetime-panel .rc-picker-time-panel {
    border-left: 1px solid #2B2B40;
}

.rc-picker-footer {
    border-top: 1px solid rgba(15, 23, 42, 0.1);
    padding: 5px 10px;
}

.dark .rc-picker-footer {
    border-top: 1px solid #2B2B40;
}

.rc-picker-footer,
.rc-picker-picker-footer {
    background: transparent;
}

.rc-picker-now-btn,
.rc-picker-ok button {
    font-size: 14px;
    cursor: pointer;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    border-radius: 3px;
    border: 1px solid rgba(15, 23, 42, 0.1);
}

.dark .rc-picker-now-btn,
.dark .rc-picker-ok button {
    border: 1px solid #2B2B40;
}

.rc-picker-now-btn:hover,
.rc-picker-ok button:hover {
    background-color: rgb(241 245 249);
}

.dark .rc-picker-now-btn:hover,
.dark .rc-picker-ok button:hover {
    background-color: #2B2B40;
}

.rc-picker-time-panel-cell-selected .rc-picker-time-panel-cell-inner {
    background-color: rgb(29 78 216);
    color: white !important;
}

.dark .rc-picker-time-panel-cell-selected .rc-picker-time-panel-cell-inner {
    background-color: #2B2B40;
}

.rc-picker-range-arrow {
    display: none;
}

.rc-picker-range-separator {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.rc-picker-range .rc-picker-active-bar {
    background-color: rgb(29 78 216);
    transform: translateX(15px);
    height: 2px;
}

.rc-picker-cell-range-hover-start::after,
.rc-picker-cell-range-hover-end::after,
.rc-picker-cell-range-hover::after {
    border: 1px dashed rgb(29 78 216);
    border-right: 0;
    border-left: 0;
    content: '';
    pointer-events: none;
}

.rc-picker-cell-range-hover-start::after {
    border-left: 1px dashed rgb(29 78 216) !important;
}

.rc-picker-cell-range-hover-end::after {
    border-right: 1px dashed rgb(29 78 216) !important;
}

.rc-picker-dropdown-range {
    padding: 0;
}

.rc-picker-panel-container {
    margin: 0 !important;
}

.rc-input-number-input {
    text-align: left;
    background-color: transparent;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 20px;
}

.rc-input-number-input {
    color: #0f172a;
}

.dark .rc-input-number-input {
    color: white;
}

.rc-input-number-input::placeholder {
    color: #6b7280;
}

.rc-input-number-handler-wrap {
    display: flex;
    flex-direction: column;
    border-color: rgba(15, 23, 42, 0.1);
    width: 30px;
}

.dark .rc-input-number-handler-wrap {
    border-color: #2B2B40;
}

.rc-input-number-handler-wrap .rc-input-number-handler {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: rgba(15, 23, 42, 0.1);
}

.dark .rc-input-number-handler-wrap .dark .rc-input-number-handler {
    border-color: #2B2B40;
}

.rc-input-number-handler:hover {
    background-color: rgb(226 232 240);
}

.dark .rc-input-number-handler:hover {
    background-color: #2B2B40;
}

.rc-input-number:hover .rc-input-number-handler-wrap {
    border-color: rgba(15, 23, 42, 0.1);
}

.dark .rc-input-number:hover .rc-input-number-handler-wrap {
    border-color: #2B2B40;
}

.rc-input-number:hover .rc-input-number-handler {
    border-color: rgba(15, 23, 42, 0.1);
}

.dark .rc-input-number:hover .rc-input-number-handler {
    border-color: #2B2B40;
}

.rc-input-number-disabled:hover {
    border-color: #2B2B40;
}

.rc-input-number-disabled:hover .rc-input-number-handler-up,
.rc-input-number-disabled:hover .rc-input-number-handler-wrap {
    border-color: rgba(15, 23, 42, 0.1);
}

.dark .rc-input-number-disabled:hover .rc-input-number-handler-up,
.dark .rc-input-number-disabled:hover .rc-input-number-handler-wrap {
    border-color: #2B2B40;
}

.rc-input-number-disabled .rc-input-number-input {
    background-color: rgb(241 245 249);
    opacity: 1;
}

.dark .rc-input-number-disabled .rc-input-number-input {
    background-color: #1E1E2D;
}

.rc-input-number-disabled .rc-input-number-handler {
    opacity: 0.3;
}

.rc-input-number-disabled .rc-input-number-handler:hover {
    color: #999;
    border-color: rgba(15, 23, 42, 0.1);
    cursor: not-allowed;
}

.dark .rc-input-number-disabled .rc-input-number-handler:hover {
    border-color: #2B2B40;
}

/** rc-pagination **/
.rc-pagination .rc-pagination-item {
    border: none;
    line-height: 28px;
    width: 28px;
    height: 28px;
    border-radius: 5px;
    background-color: #F1F5F9;
}

.dark .rc-pagination .rc-pagination-item {
    background-color: rgba(43, 43, 64, 0.7);
}

.rc-pagination .rc-pagination-item:hover {
    border: none;
    line-height: 28px;
    width: 28px;
    height: 28px;
}

.dark .rc-pagination .rc-pagination-item:hover {
    background-color: #2B2B40;
}

.rc-pagination .rc-pagination-item-active,
.rc-pagination .rc-pagination-item-active:hover {
    background-color: rgb(29 78 216);
}

.rc-pagination .rc-pagination-item-active a,
.rc-pagination .rc-pagination-item-active:hover a {
    color: #fff;
}

.dark .rc-pagination .rc-pagination-item-active,
.dark .rc-pagination .rc-pagination-item-active:hover {
    background-color: rgb(29 78 216);
}

.dark .rc-pagination .rc-pagination-item a {
    color: #fff;
}

.dark .rc-pagination-jump-prev button,
.dark .rc-pagination-jump-next button {
    color: #fff;
}

.rc-pagination-prev .fi,
.rc-pagination-next .fi {
    text-align: center;
    line-height: 28px;
    height: 28px;
}

.dark .rc-pagination-prev .fi,
.dark .rc-pagination-next .fi {
    color: #fff;
}

.rc-pagination-disabled .fi {
    color: #94a3b8;
}

.dark .rc-pagination-disabled .fi {
    color: #4b5563;
}

.html-block section {
    margin-top: 12px;
    margin-bottom: 12px;
}

#nprogress .spinner {
    top: 24px;
    right: 40px;
}

.cursor::after {
    display: block;
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #fff;
    animation: cursor 0.6s linear infinite alternate;
    will-change: opacity;
}

@keyframes cursor {

    0%,
    40% {
        opacity: 1;
    }

    60%,
    100% {
        opacity: 0;
    }
}

.rc-tooltip-placement-right,
.rc-tooltip-placement-rightTop,
.rc-tooltip-placement-rightBottom {
    padding: 0 5px 0 5px;
}

.rc-tooltip-placement-bottom,
.rc-tooltip-placement-bottomLeft,
.rc-tooltip-placement-bottomRight {
    padding: 5px 0 5px 0;
}

.rc-tooltip-placement-left,
.rc-tooltip-placement-leftTop,
.rc-tooltip-placement-leftBottom {
    padding: 0 5px 0 5px;
}

.rc-table-sticky-scroll {
    display: none;
}

.rc-table th,
.rc-table td {
    border-color: rgb(15 23 42 / 0.1);
    padding: 3px 5px;
}

.dark .rc-table th,
.dark .rc-table td {
    border-color: rgb(43 43 64 / 1);
}

.rc-table-header {
    border-color: rgb(15 23 42 / 0.1);
}

.dark .rc-table-header {
    border-color: rgb(43 43 64 / 1);
}

.rc-table-body {
    border-color: rgb(15 23 42 / 0.1);
}

.dark .rc-table-body {
    border-color: rgb(43 43 64 / 1);
}

.rc-table-fixed-column .rc-table-body::after {
    border-color: rgb(15 23 42 / 0.1);
}

.dark .rc-table-fixed-column .rc-table-body::after {
    border-color: rgb(43 43 64 / 1);
}

.rc-table-expanded-row-fixed::after {
    border-color: rgb(15 23 42 / 0.1);
}

.dark .rc-table-expanded-row-fixed::after {
    border-color: rgb(43 43 64 / 1);
}

.rc-table-content {
    border-color: rgb(15 23 42 / 0.1);
    border-radius: 0;
}

.dark .rc-table-content {
    border-color: rgb(43 43 64 / 1);
}

.rc-table tbody tr td {
    background-color: rgb(241 245 249);
}

.dark .rc-table tbody tr td {
    background-color: rgb(30 30 45 / 1);
}

.rc-table thead th {
    background-color: rgb(241 245 249);
}

.dark .rc-table thead th {
    background-color: rgb(30 30 45 / 1);
}

.rc-table-cell.rc-table-cell-row-hover {
    background-color: rgb(203 213 225);
}

.dark .rc-table-cell.rc-table-cell-row-hover {
    background-color: rgb(27 27 40 / 1);
}

.rc-table-ping-left .rc-table-cell-fix-left-first,
.rc-table-ping-left .rc-table-cell-fix-left-last {
    outline: 1px solid rgb(15 23 42 / 0.1);
}

.dark .rc-table-ping-left .rc-table-cell-fix-left-first,
.dark .rc-table-ping-left .rc-table-cell-fix-left-last {
    outline: 1px solid rgb(43 43 64 / 1);
}

.rc-table-ping-left .rc-table-cell-fix-left-first::after,
.rc-table-ping-left .rc-table-cell-fix-left-last::after {
    box-shadow: inset 10px 0 8px -8px rgb(43 43 64 / 0.3);
}

.dark .rc-table-ping-left .rc-table-cell-fix-left-first::after,
.dark .rc-table-ping-left .rc-table-cell-fix-left-last::after {
    box-shadow: inset 10px 0 8px -8px rgb(100 116 139 / 0.5);
}

.rc-table-ping-right .rc-table-cell-fix-right-first,
.rc-table-ping-right .rc-table-cell-fix-right-last {
    outline: 1px solid rgb(15 23 42 / 0.1);
}

.dark .rc-table-ping-right .rc-table-cell-fix-right-first,
.dark .rc-table-ping-right .rc-table-cell-fix-right-last {
    outline: 1px solid rgb(43 43 64 / 1);
}

.rc-table-ping-right .rc-table-cell-fix-right-first::after,
.rc-table-ping-right .rc-table-cell-fix-right-last::after {
    display: none;
}

.rc-table-cell-fix-right-first,
.rc-table-cell-fix-right-last {
    box-shadow: none;
}